<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>S7g5rgUVUG6dSJQ6aeaia2gLQxcn8NsWkCVuZyAfjlG2KShzQ4GK9uJeTUxKZLM3f0/bQYK/RhzybntAWcbsDISh9B4HK7pTURXbOMh89yRB31s1oXgDmqrmxceEv76Lld8GZySbA7GKL+TDYJh61KZp0vLGQR5hPw+FJl2KmNA05noWT/wlwcw1CxJZDb8UXDz0GNxFX/tCrMBIfZP/JOiAt0o+eT83QdAXjL1ChT2tht5b2xhEMjfq6Gw5507lb6Y5/6Sks9604XPyaAW1YiA7ZXsnk9GJt7N1TEPTX1rqRPnbe+wRBxw83+UFBzfSdtzD0sawRTyAY0F7gyp1Vw==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>l4PLxXQxvlP1dVeEygwN3uj+ZdcDhbKxDsqYxnyOhzAwrlMTPVR0dqsun6FjkbZK</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>